<div class="row featurette px-md-5 m-sm-3 my-md-5 justify-content-center">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">
      Arş. Gör. <span class="text-muted">Utku AKSOY</span>
    </h2>
    <p class="lead" style="text-align: justify">
      Adım Utku (27), Ankara'da doğdum ve büyüdüm. Küçüklüğümden beri Japonca'ya
      bir ilgim vardı. Ortaokulda Japonca öğrenmeye başladım ve Erciyes Üni.
      Japon Dili ve Edebiyatını tamamladım. Lisans programını tamamladıktan
      sonra Ankara Üni. Japon Dili ve Edebiyatı programında yüksek lisans
      yaptım. Şu anda yine aynı yerde doktora programına kayıtlıyım ve aynı
      zamanda Ankara Sosyal Bilimler Üniversitesi Japonca Mütercim ve
      Tercümanlık bölümünde araştırma görevliliği yapmaktayım.
    </p>
    <br />
    <p class="lead" style="text-align: justify">
      2019 yılında web yazılımı öğrenmeye başladım. Front-end'de HTML, CSS,
      SASS, JS kullanıyorum. Back-end Node.js, express.js, mongoDB, mongoose
      kullanıyorum. Geliştirmekte olduğum bir sözlük projem var.
    </p>
  </div>
  <div
    class="col-md-5 order-md-1 m-3"
    style="height: 400px; width: 400px; object-fit: cover; border-radius: 50%"
  >
    <!-- <svg
      class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
      width="500"
      height="500"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder: 500x500"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#eee"></rect>
      <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
    </svg> -->
    <img
      style="height: 400px; width: 400px; object-fit: cover; border-radius: 50%"
      src="../../../assets/img/utku.jpg"
      alt="utku profile picture"
    />
  </div>
</div>
